<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zqu.yiban.questionnaire.mapper.StudentMapper">

    <select id="getClassTeacher" resultType="Teacher">
		select teacher.t_no,t_name
        from teacher,student,class
        where student.s_no = #{s_no} and student.s_class = class.s_class and teacher.t_no = class.t_no
	</select>

    <select id="getInstituteTeacher" resultType="Teacher">
		select teacher.t_no,teacher.t_name
        from teacher,student,institute
        where student.s_no = #{s_no} and student.s_institute = institute.s_institute and teacher.t_no = institute.t_no
	</select>

    <select id="getDormitoryTeacher" resultType="Teacher">
        select teacher.t_no,teacher.t_name
        from student,teacher,dormitory
        where student.s_no = #{s_no} and student.d_name = dormitory.d_name and teacher.t_no = dormitory.t_no
    </select>


</mapper>